{% extends "ibeaconapp/base.html" %}

{% block container %}

<div class='alert alert-secondary'><strong> All Beacons </strong></div>

{% if object_list %}
<table class='table table-sm table-hover'>
    <thead class='thead-light'>
    <tr>
        <th> Minor ID </th>
        <th> Major ID </th>
        <th> UUID </th>
        <th> Owner </th>
        <th> Added </th>
        <th></th>
    </tr>
    </thead>
{% for beacon in object_list %}
    <tr>
        <td> {{beacon.minorid}} </td>
        <td> {{beacon.majorid}} </td>
        <td> {{beacon.uuid}} </td>
        <td> {{beacon.owner}} </td>
        <td> {{beacon.created}} </td>
        <td> <a href='{% url "beacons:beacon-location" pk=beacon.pk %}' class='badge-pill badge-info'><strong> show location </strong></a> </td>
    </tr>
{% endfor %}
</table>
{% else %}
    <p>No beacons found.</p>
{% endif %}

{% endblock container %}