{% extends "ibeaconapp/base.html" %}

{% block container %}

<div class='alert alert-secondary'><strong> All Floor Maps </strong></div>

{% if object_list %}
<table class='table table-sm table-hover'>
    <thead class='thead-light'>
    <tr>
        <th> Name </th>
        <th> Signal Loss Factor </th>
        <th> Length </th>
        <th> Width </th>
        <th> Owner </th>
        <th> Added </th>
    </tr>
    </thead>
{% for object in object_list %}
    <tr>
        <td> {{object.name}} </td>
        <td> {{object.nconst|floatformat:2|default:"-"}} </td>
        <td> {{object.length|floatformat:2|default:"-"}} </td>
        <td> {{object.width|floatformat:2|default:"-"}} </td>
        <td> {{object.owner}} </td>
        <td> {{object.created}} </td>
    </tr>
{% endfor %}
</table>
{% else %}
    <p>No maps found.</p>
{% endif %}

{% endblock container %}