{% extends "ibeaconapp/myaccount_base.html" %}

{% block myaccount_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ibeaconapp/css/myaccount_beacon_list.css' %}">
{% endblock myaccount_css %}

{% block list_div %}

<div class='alert' id='list-header'>
<p align='center'><strong> Select beacon to change </strong></p>
<a href='{% url "beacons:beacon-create" %}' class='badge-pill badge-info'><strong> Add Beacon </strong></a>
</div>

{% if object_list %}
<table class='table table-sm table-hover'>
    <thead class='thead-light'>
    <tr>
        <th> Minor ID </th>
        <th> Major ID </th>
        <th> UUID </th>
        <th> Floor Map </th>
        <th/>
        <th/>
    </tr>
    </thead>
{% for beacon in object_list %}
    <tr>
        <td> {{beacon.minorid}} </td>
        <td> {{beacon.majorid}} </td>
        <td> {{beacon.uuid}} </td>
        <td> {{beacon.floor_map}} </td>
        <td> <a href='{% url "beacons:beacon-edit" pk=beacon.pk %}' class='badge-pill badge-warning'> edit </a></td>
        <td> <a href='#' class='badge-pill badge-danger'> delete </a></td>
    </tr>
{% endfor %}
</table>
{% else %}
    <p>No beacons found.</p>
{% endif %}

{% endblock list_div %}
