{% extends "ibeaconapp/myaccount_base.html" %}

{% block myaccount_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ibeaconapp/css/myaccount_map_list.css' %}">
{% endblock myaccount_css %}

{% block list_div %}

<div class='alert' id='list-header'>
<p align='center'><strong> Select floor map to change </strong></p>
<a href='{% url "beacons:map-create" %}' class='badge-pill badge-info'><strong> Add Floor Map </strong></a>
</div>


{% if object_list %}
<table class='table table-sm table-hover'>
    <thead class='thead-light'>
    <tr>
        <th> Name </th>
        <th> Signal Loss Factor </th>
        <th> Length </th>
        <th> Width </th>
        <th> Image </th>
        <th> </th>
        <th> </th>
    </tr>
    </thead>
{% for object in object_list %}
    <tr>
        <td> {{object.name}} </td>
        <td> {{object.nconst|floatformat:2|default:"-"}} </td>
        <td> {{object.length|floatformat:2|default:"-"}} </td>
        <td> {{object.width|floatformat:2|default:"-"}} </td>
        {% if object.image %}
        <td> <img src="{{object.image.url}}" width="100"> </td>
        {% else %}
        <td> - </td>
        {% endif %}
        <td> <a href='{% url "beacons:map-edit" pk=object.pk %}' class='badge-pill badge-warning'> edit </a></td>
        <td> <a href='#' class='badge-pill badge-danger'> delete </a> </td>
    </tr>
{% endfor %}
</table>
{% else %}
    <p>No maps found.</p>
{% endif %}

{% endblock list_div %}